<main class="page-main">
  <div class="room-main">
    <div class="dots">
      <click-dot class="television-dot" topicName="television" title="Intro"/>
      <click-dot class="trophy-dot" topicName="trophy" title="Sport"/>
      <click-dot class="note-dot" topicName="note" title="CV"/>
      <click-dot class="monitor-dot" topicName="monitor" [disabled]="true" title=""/>
      <click-dot class="frame1-dot" topicName="frame1" title="Irea"/>
      <click-dot class="frame2-dot" topicName="frame2" title="Vidéos Immo"/>
      <click-dot class="frame3-dot" topicName="frame3" title="Seva"/>
      <click-dot class="media1-dot" topicName="media1" link="https://www.instagram.com/ezek.pav/"/>
      <click-dot class="media2-dot" topicName="media2" link="https://www.linkedin.com/in/ez%C3%A9kiel-pavillon-592a84277/"/>
      <click-dot class="media3-dot" topicName="media3" link="https://calendly.com/ezekpav/entretien-d-embauche"/>
      <click-dot class="poster-dot" topicName="poster" title="Présentation"/>
    </div>
  </div>
</main>
